.slider-inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.photo {
    height: 220px;
    width:180px;
    border-color: rgb(0,175,177);
    box-shadow: 0 0 0 0.2rem rgb(0,175,177);
   
}
.actor {
    display: flex;
    flex-wrap: wrap;
    width: 190px;
}
span{
    padding-right: 5px;
    color: rgba(255,68,68);
}
