@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "../../../theme.scss";

.container {
    width: 100%;
    margin: 0 auto;
    font-family: $special-font;
}
.btn-color {
    background: $background-linear;
}

.section1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    border-radius: 0.5em;    
}
.poster{
    width: 100%;
      height: auto; 
}
img {
    border-radius: 0.5em;
    box-shadow: $box-shadow;
}
.starLoc {
    width: 35%;
    height: auto;
   
    position: relative;
    display: flex;
    align-content: flex-end;
    @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
        width: 70%;
    }
}
.starFav{
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: end;
    display: inline-block;
    font-size: 6rem;
}
.clikedStar {
    color: yellow;
}
.borders {
    width: 100%;
    margin-top: 10px;
    background: $background-linear;
    box-shadow: $light-box-shadow;
  
    
}

.details {
    width: 65%;
    padding-left: 15px;
}
span{
    padding-right: 5px;
    color: black;
}
.photo {
    height: 220px;
    width:180px;
    box-shadow: $box-shadow;  
}
.director-inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 16px;
    width: 100%;
}
.director {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    
}
.sectionRadius {
    background: white;
    border-radius: 0.5em;
    box-shadow: $light-box-shadow;
}
.portal-rating {
    font-size: x-large;
    width: 30%;
}
.row-rating {
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
}
.progress-container {
    width: 50%;
}
.progress {
    width: 100%;
}
.progress-bar {
    background: $secondary;
}
.rating-div {
    height: 100%;
    margin-left: 10px;
    
}
.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: $secondary;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: $secondary;
  }
  .bigPoster {
      width: auto;
      height: 70%;
      z-index: 1;
      position: absolute;
      top: 15%;
      left: 30%;
      position:fixed;
  }
  .opacity {
     opacity: 0.2;
  }
  @media screen and (max-width: 600px) {
    .section1 {
      flex-wrap: wrap;
    }
    .starLoc {
        width: 100%;
    }
    .details {
        width: 100%;
    }
    .row-rating {
        display: flex;
        flex-wrap: wrap;
    }
    .portal-rating {
        width: 100%;
    }
    .progress-container{
        width: 100%;
    }
    .rating-div{
        width: 100%;
    }
  }