.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.section1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    
}
.starLoc {
    width: 35%;
    position: relative;
    display: flex;
    align-content: flex-end;
    
}
.starFav{
    position: absolute;
    bottom: 5px;
    right: 0px;
    text-align: end;
    display: inline-block;
    font-size: 6rem;
}
.clikedStar {
    color: yellow;
}
.borders {
    width: 100%;
    border-top: 2px solid rgba(255,68,68);
    border-bottom: 2px solid rgba(255,68,68);
    margin-top: 5px;
    
}
.poster{
    width: 100%;    
}
.details {
    width: 65%;
    padding-left: 15px;
}
span{
    padding-right: 5px;
    color:rgba(255,68,68);
}
.photo {
    height: 220px;
    width:180px;
    border-color: rgb(0,175,177);
    box-shadow: 0 0 0 0.2rem rgb(0,175,177);
}
.director-inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 16px;
}
.director {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    
}
.portal-rating {
    font-size: x-large;
    width: 30%;
}
.row-rating {
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
}
.progress-container {
    width: 50%;
}
.progress {
    width: 100%;
}
.progress-bar {
    background: rgba(255,68,68);
}
.rating-div {
    height: 100%;
    
    margin-left: 10px;
    
}
.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color:  rgba(255,68,68);
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color:rgba(255,68,68);
  }
  .bigPoster {
      width: auto;
      height: 70%;
      z-index: 1;
      position: absolute;
      top: 15%;
      left: 30%;
      position:fixed;
  }
  .opacity {
     opacity: 0.2;
  }
  @media screen and (max-width: 600px) {
    .section1 {
      flex-wrap: wrap;
    }
    .starLoc {
        width: 100%;
    }
    .details {
        width: 100%;
    }
    .row-rating {
        display: flex;
        flex-wrap: wrap;
    }
    .portal-rating {
        width: 100%;
    }
    .progress-container{
        width: 100%;
    }
    .rating-div{
        width: 100%;
    }
  }