@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.container {
    justify-content: center;
    margin-top: auto;
    width: 80%;
    
}
.header {
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    line-height: 100px;
}
.input-group{
    width: 100%;
    margin: 0 auto;
}
.form-control:focus {
    border-color: rgba(255,68,68);
    box-shadow: 0 0 0 0.2rem rgba(255,68,68,.25);
}
.total {
    width: 100%;
    text-align: right;
}
.false {
    font-size: x-large;
    color: rgba(255,68,68);
}
li:nth-child(odd) {
    background: whitesmoke;
}

.isScrolled {
   z-index: 2;
   position: fixed;
   top: 0px;
   left: 23%;
   width: 54%;
   margin: 0 auto;
   background: white;
}
