.container {
    justify-content: center;
    margin-top: auto;
    width: 80%;
}
.marquee {
    background-image: url('../../img/pngfuel.png');
    background-size: 100% auto;
    margin: 0 auto;
}
.header {
    height: 200px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}
.input-group{
    width: 90%;
    margin: 0 auto;
}
.form-control:focus {
    border-color: #ff4444;
    box-shadow: 0 0 0 0.2rem rgba(255,68,68,.25);
}
.false {
    font-size: x-large;
    color: #cd5e77;
}
li:nth-child(odd) {
    background: whitesmoke;
}
