<div class='container'>
    <div class='header'>Find your favourite movie</div>

   
        <div class="input-group mb-3">
            
                <input [(ngModel)]="title" type="text" class="form-control" placeholder="Title" aria-label="Example text with button addon" aria-describedby="button-addon1">
                <input [(ngModel)]="year" type="text" class="form-control" placeholder="Year" aria-label="Example text with button addon" aria-describedby="button-addon1">
                <input [(ngModel)]="type "type="text" class="form-control" placeholder="Movie, series" aria-label="Example text with button addon" aria-describedby="button-addon1">
                <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            
        </div>
        <div>
            <app-short-overview></app-short-overview>
        </div>
   
</div>