@import '../../../theme.scss';

.container {
    border: 0;
    padding-top: 5%;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: $special-font;  
}
.header {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    color: $primary;
}

.text {
    color: $primary;
}
.total {
    width: 100%;
    text-align: right;
    color: $secondary;
}
.btnBg {
    background: $background-linear;
    font-weight: 600;
}
.input-group{
    width: 80%;
    margin: 0 auto;

}
.form-control:focus {
    border-color: $primary;
    box-shadow: 0 0 0.5em 0.2em rgb(79,155,148,0.75);
}

.false {
    font-size: x-large;
    color: $secondary;
}

li{
    background: white;
    margin: 5px;
    border-radius: 0.2em; 
}
