<div class='container' (keyup.enter)=searchMovies()>
    <div class='header text-secondary'>Find your favourite movie</div>

        
        <div class="input-group mb-3">
            
                <input [(ngModel)]="title" type="text" class="form-control" placeholder="Title" aria-label="Example text with button addon" aria-describedby="button-addon1" required>
                <input [(ngModel)]="year" type="text" class="form-control" placeholder="Year" aria-label="Example text with button addon" aria-describedby="button-addon1">
                
                <select [(ngModel)]="type" type="text" class="custom-select form-control" placeholder="Movie, series, episode">
                    <option value="Movie" class='form-control'>Movie</option>
                    <option value="Series" class='form-control'>Series</option>
                    <option value="Episode" class='form-control'>Episode</option>
                  </select>



                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)=searchMovies()>Search</button>
                </div>
        </div>
       
        <ngx-spinner
        bdColor= "rgba(255, 255, 255, 0.9)"
        size="medium"
        color="gray"
        type="ball-fall"
        >
        </ngx-spinner>      
        <app-random-movies *ngIf="!moviesAll[0]"></app-random-movies>
        <div *ngIf="moviesAll[0]">
            <div *ngIf="moviesAll[0].Response =='False'" class='false'>
                Sorry, unfortunately there is no movie you are looking for. <br> Try to change the criteria
            </div>
        
            <div *ngIf="moviesAll[0].Response =='True'">
                <ul class="list-group" *ngFor='let movies of moviesAll'>
                    <li class="list-group-item" *ngFor="let movie of movies.Search">
                        <app-search-result
                        [title]='movie.Title'
                        [year]='movie.Year'
                        [poster]='movie.Poster'
                        [id]='movie.imdbID'
                        >
                        </app-search-result>                      
                    </li>
                    <div
                    class="search-results"
                    infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="50"
                    (scrolled)="onScroll()"
                    >
                    </div>
                </ul>
           </div>
        </div>
</div>

