@import '../../../theme.scss';
.container {
    width: 100%;
    font-family: $special-font;  
    margin: 0;
    padding: 0;
    
}
.movie{
 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.img {
    position: relative;
    width: 20%;  
    @media screen and (max-width: $max-mobile) {
        width: 50%;
    }
    @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
        width: 25%;
    }
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(0,0,0,0.75);
    
}
img {
    width: 100%;
    height: 100%;

}

.img:hover {
    @include hover-transform;
}
.heart{
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: end;
    display: inline-block;
    font-size: 5rem; 
}

.material-icons {
    font-size: 2rem;
}

.clikedHeart {
    color: red;
    @include heart-transform;
}