@import '../../../theme.scss';
.container {
    width: 100%;
    font-family: $special-font;  
    margin: 0;
    padding: 0;
    
}
.movie{
 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
img {
 //   display: flex;
    width: 20%;  
    @media screen and (max-width: $max-mobile) {
        width: 50%;
    }
    @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
        width: 25%;
    }
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(0,0,0,0.75);
 
}

