.container {
    overflow-y: scroll;
    height: 400px;
    scrollbar-width: thin;
    scrollbar-width: none;   
}
td {
    float: left;
    margin:0;
    background-image: url('../../img/movietape.png');
    background-repeat: repeat-y;
    background-size: contain;
    background-attachment: local;
    text-align: center;
}
img {
    width: 73%;   
}

