  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
     <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
        <li><a class="navbar-brand" routerLink='/movies'>Main</a></li>
        <li class="nav-item active">
  
          <ng-template #anonymous>
            <a class="navbar-brand" (click)='login()' routerLink='/login'>Login with google</a>
          </ng-template>
        </li>
        <li ngbDropdown *ngIf='auth.user$ | async as user; else anonymous' class="nav-item dropdown">
          <a ngbDropdownToggle class="navbar-brand dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <mat-icon class='mat-icon'>account_circle</mat-icon> {{ user.displayName }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu">
            <a class="dropdown-item" routerLink='/favourites'>Favourites</a>
            <a class="dropdown-item" (click)='logout()'>Log Out</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
  </nav>