@import '../../../theme.scss';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: fit-content;
  
    @media screen and (max-width: $max-mobile) {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    }
}
.text {
    color: $secondary;
}
img {
   width: 100%; 
   box-shadow: 0px 0px 10px 10px rgb(72,72,72, 0.75);
}

.img {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0.7em 0.2em rgb(72,72,72, 0.75); 
    @media screen and (max-width: $max-mobile) {
        height: 100%;
        }  
}

.shortinfo {
    @media screen and (max-width: $max-mobile) {
        display: none;  
        }  
}

.info {
    width:80%;
    padding-left: 10px;
    @media screen and (max-width: $max-mobile) {
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0;
        background: RGBA(256,256,256,0.8);
        justify-content: center;
        padding-left: 0;
    } 
}
p {
    margin: 0;
    padding: 0;
}
.title {
    @media screen and (max-width: $max-mobile) {
        text-align: center;
    } 
}
.visible {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin:0;
    padding: 0;
    background: $secondary;
    box-shadow: 0 0 1em 0.5em  black;
    @media screen and (max-width: $max-mobile) {
        background: RGBA(256,256,256,0.8);
        box-shadow: none;
        width: 100%;
        flex-wrap: nowrap;
    }  
   
}
.rating {
    font-size: large;
    font-family: $special-font; 
    color: #212121;
    width: 100%;
    margin: 0;
    padding: 0;
}
