/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
}

.oldCamera {
    
    background-image: url('./app/img/IMGBIN_photographic-film-movie-projector-png_aYm76ksE.png');
    width: 200px;
    height: 200px;
}
